.cont {

  @apply flex flex-col gap-2;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-left: 50px; */
}

.heading {
  @apply text-xl ;
}

.button {
  @apply text-clip ;
}