
.read-crypto-assets-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: start;
    background: dimgray;
  }
  
  .crypto-assets-container {
    margin-top: 20px;
  }
  
  .crypto-asset-item {
    /* background-color: black; */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .crypto-asset-item div {
    margin: 10px 0;
    color: #000000;
  }
  
  .crypto-asset-item strong {
    color: #1e2c84;
  }
  
  h2 {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box; 
    color: #1e2c84;
    background-color: darkgray;
  }
  
  
  input[type="number"]:focus {
  /* color: #000000; */
    outline: none; 
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
  }
  